<main class="main about">

    <!--<nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="demo4.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </div>--><!-- End .container -->
    <!--</nav>-->

    <div class="about-section">
        <div class="container">
            <h2 class="subtitle">About Us</h2>
            <p>
                Divine Precincts is truly a divine place, offering all the required Pooja Products for every occasion in one place. From offering Pooja Samagri Kits to providing Pooja Ritual Services, we help you get covered with all devotional services at your fingertips.
<p>
                Our essential well-packed Samagri Kit comes with a wide range of products that fulfill your devotional and spiritual requirements.
            </p>
            
            <p>Divine Precincts also furnish diversified Horoscope and Astrology consultations for those who are seeking betterment in the fields of love and career. Our Vaastu Pandits offer Vaastu consultations for houses and business places.</p>
            <p>We integrate science and technology to give you the best Pooja services varying from Personal Occasion Poojas to Corporate Poojas. Every Pooja demands a long list of Pooja items that usually consume time and money to get it. We offer hassle-free Pooja Samagri items at reasonable prices. </p>
        </div><!-- End .container -->
    </div><!-- End .about-section -->

</main>