<main class="main about">

    <!--<nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="demo4.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </div>-->
    <!-- End .container -->
    <!--</nav>-->

    <div class="about-section">
        <div class="container">
            <h2 class="subtitle">Privacy Policy</h2>
            <p>This privacy policy is per the Information Technology Act, 2000 and pertains to the rules mentioned in this act. This policy digitally binds Divine Precincts, and the customer involved with the marketplace.</p>
            <p>At Divine Precincts, we give your privacy the utmost importance. We only use your data to process orders and serve you better. </p>
            <h4>Your Privacy</h4>    
            <p>To process an order, you are required to provide your basic personal details such as name, address, email address, and card details that will completely have end-to-end encryption. </p>
            <p>We value your trust in our business and give back the same trust in terms of data protection. We abide by the laws of the act and do not indulge in selling out your personal information to third-party or internal parties for our private benefits. </p>
            <p>We also collect your credit and debit card details along with your IP address to process the payments and these payment gateways use a secured server to protect the data.  </p>
            <h4>Cookies</h4>
            <p>
                Divine Precincts uses cookies to provide portal-related services. We do not have access to the information that hasn’t been given on the website.
            </p>
            <h4>Service Providers</h4>
            <p>We disclose only the information that is required to halt the process to third parties.</p>
            <p>We disclose your payment and location details to the payment gateway and logistics channel and these parties are strictly prohibited from using your personal information for other purposes. Without your consent, we do not transfer, sell or rent the details to any outside/inside parties and only transact your financial details to the financial organization which may process your payment transactions.</p>

        </div><!-- End .container -->
    </div><!-- End .about-section -->

</main>