<main class="main about">

    <!--<nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="demo4.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </div>-->
    <!-- End .container -->
    <!--</nav>-->

    <div class="about-section">
        <div class="container">
            <h2 class="subtitle">Refund Policy </h2>
            <h4 class="subtitle">Refund Policy Period</h4>
            <p>
                A customer can return a product within 7 business days from the original date of purchase, the customer shall receive the refund within the same period. The refund will be initiated and processed to the original payment method used at the time of purchase.
            </p>
            <p>
                If 7 working days have passed since your purchase we, unfortunately, will not accept return or provide a refund.

            </p>

            <p>
                Once we receive your return we shall scrutinize and will intimate about the recipient via a text message/mail. And we shall also intimate about the approval or rejection of the returned product via a text message/mail.
            </p>
            <h3 class="subtitle">Eligibility</h3>
            <p>
                The refund policy is applicable to only those items that are in the same condition without any damage, must be in the original package in an unused state.
            </p>
            <h3 class="subtitle">Refund (Items)</h3>
            <p>
                We only refund for the regular items and the products that are on sale are not eligible for a refund.

            </p>
        </div><!-- End .container -->
    </div><!-- End .about-section -->

</main>