@model PoojaStores.Models.Repositories.Entity.DispatchDetails
@{
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-book"></i>
        </div>
        <div class="header-title">
            <h1>Delivery Details</h1>
            <small></small>
        </div>
    </section>
    <!-- Main content -->
    <div class="content">
        <div class="row">
            <!-- Form controls -->
            <div class="col-sm-12">
                <div class="card all_btn_card" id="lobicard-custom-control1" data-sortable="true">
                    <div class="card-header all_card_btn">
                        <div class="row">
                            <div class="card-title custom_title col-sm-6">
                                <h5>Add Delivery Details</h5>
                            </div>
                            <div class="col-md-6">
                                <div class="btn-group float-right" role="group">
                                    <div class="buttonexport" id="buttonlist">
                                        <a class="btn btn-add" href="~/Order/DispatchedOrderDetails?id=@Model.PoDetailId">
                                            <i class="fa fa-reply mr-2"></i>Back
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="~/Order/DeliveryDetails" method="post" enctype="multipart/form-data">
                            @Html.HiddenFor(m => m.PoDetailId)
                            @Html.HiddenFor(m => m.DisPatchId)
                            <div class="row">
                                
                                <div class="col-md-3">
                                    <label>Delivered On</label>
                                    @Html.EditorFor(m => m.DeliveredOn, null, new { @placeholder = "Enter Dispatched By Name", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DeliveredOn, null, new { @class = "text-danger" })
                                </div>
                                
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-success serchgaptop"> Save</button>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>