<div class="container-fluid d-flex flex-column align-items-center bg-gray p-4">
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item disabled">
                    <a href="~/Sales/Cart">
                        Shopping Cart
                    </a>
                </li>
                
                <li class="breadcrumb-item disabled" aria-current="page"><a href="~/Sales/CheckOut"></a>
                    Checkout
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Order Complete
                </li>
            </ol>
        </div>
    </nav>
</div>