@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="container-fluid d-flex flex-column align-items-center bg-gray p-4">
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item disabled">
                        <a href="~/Sales/Cart">
                            Shopping Cart
                        </a>
                    </li>

                    <li class="breadcrumb-item disabled" aria-current="page">
                        <a href="~/Sales/CheckOut">
                            Checkout
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Order Complete
                    </li>
                </ol>
            </div>
        </nav>
    </div>


    <div class="content" style="text-align:center;width:40%;margin-top:5%;margin-left:30%;margin-bottom:10%">
        <div class="card all_btn_card" id="lobicard-custom-control1" data-sortable="true" style="text-align:center;">
            <br />
            <h3 class="text-danger">Payment Failed!</h3>
            <br />
        </div>
    </div>
